<div class="routes-list-item">
    <div class="route">
        <img src="https://via.placeholder.com/1280x720.png/323232" alt="Temporário">
        <div class="route-title-container">
            <h2 class="route-title">Lorem ipsum dolor sit amet.</h2>
        </div>

        <div class="route-author">
            <span class="route-author-item">
                <i class="fas fa-user"></i>
                Diego Pereira
            </span>
            <span class="route-author-item">
                <i class="fas fa-calendar-alt"></i>
                02/07/2022
            </span>
            <span class="route-author-item">
                <a href="/">
                    <i class="fas fa-layer-group"></i>
                    <span>Algo sobre a rota</span>
                </a>
            </span>
        </div>

        <div class="route-content">
            <p>
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Consequuntur
                tempore at quae debitis? Sequi!
            </p>
        </div>

        <div class="route-meta-container">
            <div class="route-meta route-time">
                <h5 class="route-meta-title"><i class="fas fa-stopwatch"></i> Tempo em Rota</h5>
                <div class="route-meta-text">
                    02 Dias
                </div>
            </div>

            <div class="route-meta route-workers">
                <h5 class="route-meta-title"><i class="fas fa-pizza-slice"></i> Funcionários Acomp</h5>
                <div class="route-meta-text">
                    02 Funcionários
                </div>
            </div>

        </div>

        <footer class="route-footer">
            <a href="route-read-more button button-dark button-full-width" href="/">
                <i class="fas fa-eye"></i>
                <span>Ver Mais...</span>
            </a>
        </footer>

    </div>
</div>
